body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

/* Navigation */


.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #0B132B;
}

.nav .logo {
    margin-right: auto;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 2em;
}


.nav .button {
    border: none;
    margin: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5BC0BE;
}

.nav .links {
    display: none;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A506B;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: .5s;
    transition: .5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: .3s;
    transition: .3s
}

.offcanvas .sidenav a:focus,
.sidenav a:hover {
    color: #5BC0BE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #5BC0BE;
}

.nav-bar .fas {
    margin: 5px;
}

.nav-bar-resize {
    display: none;
}

/* Header */

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 225px 225px 225px 225px;
    grid-gap: 10px;
    margin: 5px;
}

.block {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#one {
    background-image: url('../images/header.jpg');
    background-size: 100% 100%;
}

#two {
    background-image: url('../images/demo.jpg');
}

#three {
    background-image: url('../images/spark.jpg');
}

#four {
    background-image: url('../images/ptz.jpg');
}

/* About */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1{
    text-align: center;
    color: #5BC0BE;
    font-family: Montserrat;
}

.about p {
    width: 80%;
    font-family: Merriweather;
    text-align: center;
}

/* Software */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 200px);
    grid-gap: 5px;
    margin: 5px;
}

.software {
    width: 100%;
    height: auto;
    background-size: cover;
}

.software img {
    width: 100%;
    height: 100%;
}


.software:hover {
    opacity: 0.5;
}

/* Blog Posts */
.blog-container{
 background-color:#0B132B;
 margin-top:20px;
 padding: 15px;
}

.blog-title{
    margin: 0;
    padding: 15px 25px;
    color: #fff;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 60%;
}

.card p{
    width: 80%;
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    color: #f6f6f6;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Desktop */

@media only screen and (min-width:770px) {
    .nav .links {
        display: inline-block;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        -webkit-transition: all .25s;
        transition: all .25s
    }

    .nav .links:visited {
        color: #fff;
    }

    .nav .links:hover {
        color: #5BC0BE;
        border-bottom: 1px solid #000
    }

    .nav .current-page {
        border-bottom: 3px solid #5BC0BE;
    }

    .nav .button,
    .sidenav,
    .nav-bar {
        display: none
    }

    .nav-bar-resize {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #5BC0BE;
        font-family: 'Merriweather', serif;
    }

    .nav-bar-resize a {
        text-decoration: none;
        margin: 5px;
        height: 25px;
        align-items: center;
        color: #000;
    }

    .nav-bar-resize a:visited {
        color: #000;
    }

    .nav-bar-resize a:hover {
        color: #fff;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 200px;
    }

    #one {
        grid-column-start: 1;
        grid-column-end: 4;
        background-size: cover;
    }

    /* About */
    .about{
        margin: 20px 0; 
    }

    /* Software */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 150px);
        grid-template-areas: "one two three four"
            "five six seven eight"
            "nine ten eleven twelve";
        grid-gap: 5px;
        width: 85%;
        margin: auto;
    }

    .software {
        object-fit: cover;
    }

    /* Blog */

    .blog{
        flex-direction: row;
    }

    .card{
        width: 33.3%;
    }

}