body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather', serif;
    width: 100%;
    height: 100%;
}

/* Navigation */


.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #0B132B;
}

.nav .logo {
    margin-right: auto;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 2em;
}


.nav .button {
    border: none;
    margin: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5BC0BE;
}

.nav .links {
    display: none;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3A506B;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: .5s;
    transition: .5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    -webkit-transition: .3s;
    transition: .3s
}

.offcanvas .sidenav a:focus,
.sidenav a:hover {
    color: #5BC0BE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #5BC0BE;
}

.nav-bar .fas{
    margin: 5px;
}

.nav-bar-resize{
    display: none;
}

/* Header and Banner */

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 225px 225px 225px 225px;
    grid-gap: 10px;
    margin: 5px;
}

.block {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#one {
    background-image: url('../images/header.jpg');
    background-size: 100% 100%;
}

#two {
    background-image: url('../images/demo.jpg');
}

#three {
    background-image: url('../images/spark.jpg');
}

#four {
    background-image: url('../images/ptz.jpg');
}

/* Popular Stories and Events */

.container {
    display: flex;
    flex-direction: column;
}

.stories {
    display: flex;
    flex-direction: column;
}

.story {
    text-align: center;
    width: 95%;
}

.story img {
    width: 85%;
    height: auto;
}

.story h4 {
    justify-content: center;
    margin: 0;
}

.story p {
    margin: 0;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event {
    display: flex;
    width: 90%;
    height: 250px;
    background-color: greenyellow;
    margin-bottom: 5px;
}

@media only screen and (min-width:770px) {
    .nav .links {
        display: inline-block;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        -webkit-transition: all .25s;
        transition: all .25s
    }

    .nav .links:visited {
        color: #fff;
    }

    .nav .links:hover {
        color: #5BC0BE;
        border-bottom: 1px solid #000
    }

    .nav .current-page {
        border-bottom: 3px solid #5BC0BE;
    }

    .nav .button,
    .sidenav, .nav-bar {
        display: none
    }

    .nav-bar-resize{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #5BC0BE;
    }
    
    .nav-bar-resize a{
        text-decoration: none;
        margin: 5px;
        height: 25px;
        align-items: center;
        color: #000;
    }
    
    .nav-bar-resize a:visited{
        color: #000;
    }

    .nav-bar-resize a:hover{
        color: #fff;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px 200px;
    }

    #one {
        grid-column-start: 1;
        grid-column-end: 4;
        background-size: cover;
    }

    /* Popular Stories and Events */
    .container {
        display: flex;
        flex-direction: row;
    }

    .stories {
        width: 60%;
    }

    .story {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }

    .story img {
        width: 40%;
        height: 100px;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .events {
        width: 40%;
    }

}